.display {
    margin: 20px;
    color: black;
    font-family: roboto;
    background-color: white;
    border-radius: 20px;
    border-color: red;
    height: 20px;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
}

.numContainer {
    margin: 20px;
}

.calculatorBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 5px 5px green;
}

.calculatorBody {
    box-sizing: border-box;
    background-color: grey;
    width: 200px;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    margin-bottom: 250px;
}

.operatorContainer {
    margin: 20px;
}

.zeroButton {
    width: 70.25px;
}